@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: palevioletred;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 5px;
}

header ul li {
    list-style: none;
}

.menu_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 300px;
}

.menu_bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
}

.menu_bar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.menu_bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

ul li a i {
    text-decoration: none;
}

.menu_bar ul li a:hover {
    color: red;
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: palevioletred;
}

.dropdown_menu ul {
    display: block;
    margin: 5px;
}

.dropdown_menu ul li {
    width: 100px;
    padding: 10px;
}

.dropdown_menu1 {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu1 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: palevioletred;
}

.dropdown_menu1 ul {
    display: block;
}

.dropdown_menu1 ul li {
    width: 120px;
    padding: 0;
}

/* -----------HAMBURGER MENU----------------- */


.hamburger {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lines {
    width: 30px;
    height: 3px;
    background-color: white;
    margin-top: 8px;
    position: absolute;
}

.hamburger {
    width: 30px;
    height: 25px;
}

.lines:nth-child(1) {
    transform: translateY(-9px);
    transition: 1s;
}

.lines:nth-child(2) {
    transition: 1s;
}

.lines:nth-child(3) {
    transform: translateY(9px);
    transition: 1s;
}

.hamburger.active .lines:nth-child(1) {
    transform: rotate(45deg);
    transition: 1s;
}

.hamburger.active .lines:nth-child(2) {
    transform: translatex(-10px);
    background-color: transparent;
}

.hamburger.active .lines:nth-child(3) {
    transform: rotate(-45deg);
    transition: 1s;
}

.hamburger.active {
    transform: rotate(360deg);
    transition: 2s;
}

/* ---------------------------------------------------------------- */

/* .table {
    background-image: url(./Assets/newspaper\ bg.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    filter: blur(6px);
} */
/* .contact-section {
    position: absolute;
	inset: 15% 0px;
} */

.head h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: red;
}

.head p {
    text-align: center;
    font-weight: 600;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.contact-card {
    border-radius: 12px;
    padding: 30px;
    border: 4px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 320px;
    transition: all 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-5px);
    background: var(--gradient-2);
    color: var(--light);
}

.contact-form {
    max-width: 600px;
    margin: 50px auto;
    border: 4px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 10px;
    background: transparent;
    color: black;
    font-size: large;
    font-weight: 700;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form button {
    background: transparent;
    color: var(--light);
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.contact-form button:hover {
    background: red;
}

/* ---------------------------------------------------------------- */


.footer-parent {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: palevioletred;
    /* border-top-left-radius: 10%; */
    /* border-top-right-radius: 10%; */
}

.set1,
.set2,
.set3,
.set4 {
    flex: 300px;
    padding: 0px 20px 0px 20px;
    text-align: center;
}

.set1 {
    padding-top: 30px;
}

.set1 img {
    width: 300px;
    height: 70px;
    object-fit: cover;
    padding: 0px;
}

.footer-para {
    font-size: larger;
}

.set1 a {
    text-decoration: none;
}

.set1 a i {
    font-size: x-large;
    color: white;
    padding: 20px;
}

.set1 a i:hover {
    color: red;
}

.set2 {
    padding-top: 60px;
}

.footer-li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer-li a {
    display: inline-block;
    font-size: larger;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.footer-li>a:hover {
    color: red;
}

.footer-header {
    color: rgb(157, 37, 77);
}

.set3 {
    padding-top: 60px;
}

.set3 .footer-para {
    padding: 10px;
    font-weight: 400;
}

.set4 {
    padding-top: 60px;
}

.set4>.footer-para {
    padding: 10px;
    font-weight: 400;
    line-height: 40px;
}


@media screen and (max-width:769px) {
    .footer-parent {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .head h2 {
        font-size: x-large;
        padding: 20px;
    }

    .contact-card h3 {
        font-size: larger;
    }

}

@media screen and (max-width:430px) {
    .footer-para {
        font-size: medium;
    }

    .footer-li a {
        font-size: medium;
    }

    .footer-header {
        font-size: larger;
    }

    .cta-button {
        font-size: 14px;
        padding: 10px 12px;
    }

    .cta-button1 {
        font-size: 14px;
        padding: 10px 15px;
    }

    .head h2 {
        font-size: larger;
        padding: 20px;
    }

    .contact-card h3 {
        font-size: large;
    }

    .contact-card p {
        padding: 10px;
        font-size: medium;
    }

    .contact-form input,
    .contact-form textarea {
        margin: 5px;
        background: transparent;
        font-size: small;
        font-weight: 700;
    }
}

@media screen and (max-width:650px) {
    .contact-form {
        margin: 10px;
    }

    .logo {
        width: 230px;
    }
}

@media screen and (max-width:350px) {
    .set1 .logo {
        width: 250px;
    }

}



/* ----------------------------------------------------------------------------------------- */
/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .lines {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: palevioletred;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    margin-top: 10vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 15px;
    position: relative;
}

.sidebar ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
}
.sidebar ul li div span {
    color: white;
    text-decoration: none;
}

.flexdiv{
display: flex;
align-items: center;
gap: 10px;
}

.sidebar ul li a:hover {
    color: #f1f1f1;
}

.sidebar ul li .submenu  {
    list-style: none;
    padding-left: 15px;
    /* max-height: 0; */
    overflow: hidden;
    display: none;
}
 .sidebar ul li .submenu2 {
    padding-left: 15px;
    display: none;
}
 .submenu1 {
    padding-left: 15px;
    display: block;
}

/* Close button */
.sidebar .close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: white;
}

/* Arrow rotation */
.dropdownArrow {
    font-size: 12px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .menu_bar ul {
        display: none;
    }

    header ul li {
        display:none ;
    }

    .hamburger {
        display: block;
    }
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header ul li a  {
    text-decoration: none;
}

div button a {
    text-decoration: none;
    color: palevioletred;
}